{% extends 'base.html' %}

{% block title %}Студенты{% endblock %}

{% block content %}
<div class="container">
    <h1>Студенты</h1>
    <div class="card">
    <table class="table">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Группа</th>
                <th>Специальность</th>
                <th>Учебное заведение</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{ student.last_name }} {{ student.first_name }} {{ student.middle_name|default:'' }}</td>
                <td>{{ student.group.name }}</td>
                <td>{{ student.group.specialty }}</td>
                <td>{{ student.group.institution.short_name }}</td>
                <td>
                    <a href="{% url 'student_edit' student.id %}" class="btn" style="font-size:14px;">Редактировать</a>
                    <button onclick="openDeleteModal({{ student.id }})"class="btn btn-red">✖ удалить</button>
                </td>
            </tr>
            {% empty %}
            <tr><td colspan="4" style="padding:20px; text-align:center;">Студентов пока нет</td></tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <a href="add/" class="btn btn-green" style="margin-bottom:20px;">+ Добавить студента</a>
    <a href="{% url 'admin_dashboard' %}" class="btn" style="margin-top:20px;">Назад</a>
</div>

<!-- Модальное окно удаления -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>🗑️ Удалить урок?</h3>
            <button class="modal-close" onclick="closeModal()">&times;</button>
        </div>
        <form id="deleteForm" method="post">
            {% csrf_token %}
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить это занятие? Действие необратимо.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-gray" onclick="closeModal()">Отмена</button>
                <button type="submit" class="btn btn-red">Удалить</button>
            </div>
        </form>
    </div>
</div>
<script>
function openDeleteModal(id) {
    const form = document.getElementById('deleteForm');
    form.action = `/students/${id}/delete/`;

    document.getElementById('deleteModal').style.display = 'flex';
}

function closeModal() {
    document.getElementById('deleteModal').style.display = 'none';
}

// Закрытие модального окна при клике вне его
window.onclick = function(event) {
    const modal = document.getElementById('deleteModal');
    if (event.target == modal) {
        modal.style.display = 'none';
    }
}
</script>
{% endblock %}